<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.tsubik.cordova.start_on_boot" version="1.0.2">
    <name>Start App on Boot</name>
    <description>Start App on Boot plugin</description>
    <license>MIT</license>
    <keywords>phonegap, startup</keywords>
    <repo>https://github.com/tsubik/cordova-plugin-start-on-boot.git</repo>
    <issue>https://github.com/tsubik/cordova-plugin-start-on-boot/issues</issue>

    <description>
        Starting application on device boot completed
    </description>

    <engines>
        <engine name="cordova" version=">=2.7.0" />
    </engines>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="com.tsubik.cordova.start_on_boot.StartOnBootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <source-file src="src/android/StartOnBootReceiver.java" target-dir="src/com/tsubik/cordova/start_on_boot" />
    </platform>
</plugin>
